@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter-animation {
  display: inline-block;
  position: relative;
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 1px;
  animation: typewriter 4s steps(12) 1s infinite normal both,
  blinkTextCursor 500ms steps(12) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 94px;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}